
/* 
table {
  display: flex; 
  flex-direction: row
} */

/* th{
    text-align: center;
    width: 30%;
    display: table-header-group
    
  } */


  /* td {
    height: 50px;
    vertical-align: bottom;
    border: 1px solid #ddd;
    padding: 8px;
  } */

  /* tbody {
    display: block
  }  */

  /* tr th {
    padding: 20px 40px;
    border: 1px solid black;
    display: block;
  } */
