

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(164, 157, 164);
}

th {
    text-align: center;
    width: 30%
  }

  td {
    height: 50px;
    vertical-align: bottom;
    border: 1px solid #ddd;
    padding: 8px;
  }
